In [4]:
#Import the necessary libraries

import pandas as  pd
import numpy as np
from sklearn import linear_model

In [6]:
#Loading the dataset

df=pd.read_csv('TVshow-Viewers.csv')

In [7]:
df.head()

,Episode,Character1_appeared,Character2_appeared,Character3_appeared,Character4_appeared,Character5_appeared,Fight_scenes,Comedy_scences,Romance_scence,Viewers
0,Episode001,3,5,2,4,4,3,7,9,888983
1,Episode002,4,6,3,5,3,4,8,7,888737
2,Episode003,2,4,1,3,5,2,6,8,887743
3,Episode004,4,6,3,5,2,5,8,7,808437
4,Episode005,5,7,4,6,4,2,6,6,777626

In [8]:
col_names=list(df.columns.values)

In [9]:
col_names

['Episode',
 'Character1_appeared',
 'Character2_appeared',
 'Character3_appeared',
 'Character4_appeared',
 'Character5_appeared',
 'Fight_scenes',
 'Comedy_scences',
 'Romance_scence',
 'Viewers']

In [10]:
#Summary Statistics

df.describe()

,Character1_appeared,Character2_appeared,Character3_appeared,Character4_appeared,Character5_appeared,Fight_scenes,Comedy_scences,Romance_scence,Viewers
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,3.180000,5.180000,2.300000,4.180000,3.640000,2.580000,7.000000,6.880000,754132.800000
std,1.955526,1.955526,1.854394,1.955526,1.987307,1.070762,1.106567,1.189066,152197.668355
min,0.000000,2.000000,0.000000,1.000000,1.000000,1.000000,5.000000,5.000000,354234.000000
25%,2.000000,4.000000,1.000000,3.000000,2.000000,2.000000,6.000000,6.000000,665438.750000
50%,3.000000,5.000000,2.000000,4.000000,3.000000,2.500000,7.000000,7.000000,793954.500000
75%,4.000000,6.000000,3.000000,5.000000,5.000000,3.000000,8.000000,8.000000,887713.000000
max,8.000000,10.000000,7.000000,9.000000,9.000000,6.000000,9.000000,9.000000,987342.000000

In [17]:
#Split Dataset

def split_data(df):
    
    features = []
    target = []
    for char1,char2,char3,char4,char5,fight_scene,comedy_scence,romance_scence,viewers_count in zip(
                                df['Character1_appeared'],
                                 df['Character2_appeared'],
                                 df['Character3_appeared'],
                                 df['Character4_appeared'],
                                 df['Character5_appeared'],
                                 df['Fight_scenes'],
                                 df['Comedy_scences'],
                                 df['Romance_scence'],
                                 df['Viewers']
                                ):
        features.append([char1,char2,char3,
                                   char4,char5,fight_scene,
                                   comedy_scence,romance_scence])
        target.append(viewers_count)
        
    return features,target

In [18]:
train_features,train_target = split_data(df)

print(train_features)
print(train_target)

[[3, 5, 2, 4, 4, 3, 7, 9], [4, 6, 3, 5, 3, 4, 8, 7], [2, 4, 1, 3, 5, 2, 6, 8], [4, 6, 3, 5, 2, 5, 8, 7], [5, 7, 4, 6, 4, 2, 6, 6], [2, 4, 1, 3, 1, 1, 7, 7], [1, 3, 0, 2, 8, 4, 8, 6], [0, 2, 3, 1, 5, 3, 6, 5], [2, 4, 1, 3, 3, 2, 9, 6], [3, 5, 2, 4, 9, 6, 7, 5], [4, 6, 3, 5, 3, 3, 6, 7], [1, 3, 0, 2, 4, 2, 8, 6], [7, 9, 6, 8, 5, 4, 7, 5], [3, 5, 2, 4, 2, 2, 5, 8], [2, 4, 1, 3, 6, 3, 6, 5], [4, 6, 3, 5, 1, 1, 7, 6], [5, 7, 4, 6, 8, 3, 5, 5], [6, 8, 5, 7, 2, 2, 8, 7], [7, 9, 6, 8, 3, 4, 5, 6], [1, 3, 0, 2, 4, 1, 8, 8], [3, 5, 2, 4, 1, 3, 7, 9], [6, 8, 5, 7, 6, 2, 6, 6], [3, 5, 2, 4, 3, 1, 9, 9], [7, 9, 6, 8, 2, 4, 5, 7], [2, 4, 1, 3, 8, 3, 6, 8], [4, 6, 3, 5, 3, 2, 7, 6], [3, 5, 2, 4, 4, 3, 8, 7], [5, 7, 4, 6, 5, 1, 9, 6], [2, 4, 1, 3, 2, 4, 8, 8], [0, 2, 1, 1, 5, 1, 8, 6], [3, 5, 2, 4, 3, 2, 8, 7], [4, 6, 3, 5, 1, 2, 7, 8], [1, 3, 0, 2, 2, 3, 6, 6], [2, 4, 1, 3, 6, 1, 7, 7], [5, 7, 4, 6, 4, 2, 6, 9], [2, 4, 1, 3, 3, 3, 8, 7], [1, 3, 0, 2, 2, 2, 6, 6], [4, 6, 3, 5, 4, 3, 7, 8], [3, 5, 2, 4, 3, 2, 6, 6], [2, 4, 1, 3, 2, 3, 7, 7], [1, 3, 0, 2, 1, 2, 8, 6], [5, 7, 4, 6, 6, 3, 6, 5], [2, 4, 1, 3, 4, 2, 7, 6], [1, 3, 0, 2, 3, 3, 8, 8], [6, 8, 5, 7, 2, 2, 9, 9], [2, 4, 1, 3, 5, 3, 6, 8], [8, 10, 7, 9, 4, 2, 7, 7], [2, 4, 1, 3, 3, 3, 8, 8], [1, 3, 0, 2, 2, 2, 6, 7], [3, 5, 2, 4, 1, 3, 7, 8]]
[888983, 888737, 887743, 808437, 777626, 877672, 799867, 656765, 798732, 506556, 696453, 621321, 453234, 897653, 443535, 723454, 354234, 808324, 432534, 886543, 899876, 564533, 908654, 876553, 896574, 723454, 812312, 709876, 897654, 708983, 762342, 875644, 654564, 789564, 921084, 897423, 552342, 798345, 665434, 708345, 609834, 560973, 665453, 987342, 907823, 887623, 708242, 898723, 765434, 883234]

In [20]:
#Building Linear Regression Model

myReg=linear_model.LinearRegression()
myReg.fit(train_features, train_target)

LinearRegression()

In [24]:
#Predicting Tv Viewers for new Episode

episode51_features = [4, 6, 3, 6, 3, 4, 8, 9]

episode52_features = [4, 6, 3, 6, 3, 6, 2, 3]
print (myReg.predict(episode51_features, episode52_features))

#episode52_features = [4, 6, 3, 6, 3, 6, 2, 3]
#print(myReg.predict(episode52_features))

TypeError: LinearModel.predict() takes 2 positional arguments but 3 were given